profiles {
  docker {
    docker.enabled = true
  }
}

params {
  submission_name = null
  config          = null
  metadata        = null
  fasta           = null
  outdir          = 'results'

 

  organism        = 'OTHER'
  seqsender_image = 'ghcr.io/cdcgov/seqsender:v1.3.91'

  vadr_image      = 'staphb/vadr:1.6.4-mev'
  vadr_mkey       = 'mev'
  vadr_models     = '/data/vadr-1.7/vadr-models-mev/mev'
  vadr_indefclass = '0.01'

  table2asn_image = 'staphb/ncbi-table2asn@sha256:7c5de51a71304dae0f88868cd7afa7a97b4b8065fc910b26328d405df44468ea'

    // SeqSender behavior
  submit_biosample = false   // true only for real BioSample submissions
  dry_run          = true    // true = pass --test to seqsender (no accessions)

  // Polling (only used when submit_biosample && !dry_run)
  poll_interval    = 300     // seconds between submission_status checks
  poll_max_minutes = 240     // timeout (minutes)
  poll_require_all_biosample_accessions = true
}